@if(showModal){
    <app-budget-modal></app-budget-modal>
}
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-10 py-3">
                    nombre
                </th>
                <th scope="col" class="px-10 py-3">
                    cliente
                </th>
                <th scope="col" class="px-8 py-3">
                    fecha
                </th>
                <th scope="col" class="px-8 py-3">
                    precio
                </th>
                <th scope="col" class="px-1 py-3">
                    <button (click)="openTaskDialog()" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
                        <svg class="svg-icon" viewBox="0 0 20 20">
							<path d="M14.613,10c0,0.23-0.188,0.419-0.419,0.419H10.42v3.774c0,0.23-0.189,0.42-0.42,0.42s-0.419-0.189-0.419-0.42v-3.774H5.806c-0.23,0-0.419-0.189-0.419-0.419s0.189-0.419,0.419-0.419h3.775V5.806c0-0.23,0.189-0.419,0.419-0.419s0.42,0.189,0.42,0.419v3.775h3.774C14.425,9.581,14.613,9.77,14.613,10 M17.969,10c0,4.401-3.567,7.969-7.969,7.969c-4.402,0-7.969-3.567-7.969-7.969c0-4.402,3.567-7.969,7.969-7.969C14.401,2.031,17.969,5.598,17.969,10 M17.13,10c0-3.932-3.198-7.13-7.13-7.13S2.87,6.068,2.87,10c0,3.933,3.198,7.13,7.13,7.13S17.13,13.933,17.13,10"></path>
						</svg>
                        <span class="pl-1">Nuevo Presupuesto</span>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            @if(errorMessage){
                <h2>{{ errorMessage }}</h2>
            }
            @if(budgets){
                @if(budgets.length > 0){
                    @for (b of budgets; track b){
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ b.name }}
                            </th>
                            <td class="px-6 py-4">
                                {{ b.client }}
                            </td>
                            <td class="px-6 py-4">
                                {{ b.date }}
                            </td>
                            <td class="px-6 py-4">
                                {{ b.price }}
                            </td>
                        </tr>    
                    }
                }@else {
                    <h2>No hay presupuestos.</h2>
                }
            }
        </tbody>
    </table>
</div>
