@if(bills){ @if(bills.length > 0){
    <div class="min-h-screen w-full bg-white dark:bg-gray-800">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-10 py-3">nombre</th>
                    <th scope="col" class="px-10 py-3">cliente</th>
                    <th scope="col" class="px-8 py-3">fecha</th>
                    <th scope="col" class="px-8 py-3">precio</th>
                    <th scope="col" class="px-8 py-3"></th>
                </tr>
            </thead>
            <tbody>
                @for (b of bills; track b.id){
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ b.name }}
                    </th>
                    <td class="px-6 py-4">
                        {{ b.clientName }}
                    </td>
                    <td class="px-6 py-4">
                        {{ b.date }}
                    </td>
                    <td class="px-6 py-4">
                        {{ b.price }}
                    </td>
                    <td class="flex justify-center px-10 py-3">
                        <button (click)="commonService.generatePDF('bill',b.idBudget)" class="text-white bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                            Descargar Factura
                        </button>
                        <button (click)="deleteBill(b.id)" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                            Eliminar
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    }@else {
    <div class="flex items-center justify-center h-screen">
        <p class="text-center">No hay facturas.</p>
    </div>
    } }