@if(bills){ @if(bills.length > 0){
    <app-search-filters [dataScreen]="dataScreen" (updateSearching)="updateSearching($event)"></app-search-filters>
    <div class="min-h-screen w-full bg-white dark:bg-gray-800">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-10 py-3">nombre</th>
                    <th scope="col" class="px-10 py-3">cliente</th>
                    <th scope="col" class="px-8 py-3">fecha</th>
                    <th scope="col" class="px-8 py-3">precio</th>
                    <th scope="col" class="px-8 py-3"></th>
                </tr>
            </thead>
            <tbody>
                @for (b of bills; track b.id){
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-10 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ b.name }}
                    </th>
                    <td class="px-10 py-3">
                        {{ b.clientName }}
                    </td>
                    <td class="px-8 py-3">
                        {{ b.date }}
                    </td>
                    <td class="px-8 py-3">
                        {{ b.price }} €
                    </td>
                    <td class="flex justify-center px-8 py-3">
                        <button (click)="commonService.generatePDF('bill',b.idBudget)" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-yellow-600 dark:hover:bg-yellow-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                            Descargar <img class="inline-block w-6 h-6 rounded" src="https://img.icons8.com/?size=100&id=13417&format=png&color=000000" /> 
                        </button>
                        <button (click)="deleteBill(b.id)" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-red-600 dark:hover:bg-red-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                            Eliminar
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <app-paginator [allItems]="allBills" (updateItems)="updateItems($event)"></app-paginator>
    </div>
    }@else {
    <div class="flex items-center justify-center h-screen">
        <p class="text-center">No hay facturas.</p>
    </div>
    } }